extends layout

block content
    // Page Content
    .container
        // Page Heading/Breadcrumbs
        h1.mt-4.mb-3
            | About
            small  US
        ol.breadcrumb
            li.breadcrumb-item
                a(href='/') Home
            li.breadcrumb-item.active About
        // Intro Content
        .row
            .col-lg-6
                img.img-fluid.rounded.mb-4(src='http://via.placeholder.com/750x450', alt='')
            .col-lg-6
                h2 About ACM
                p
                    | ACM brings together computing educators, researchers, and professionals to inspire dialogue, share resources, and address the field's challenges.  
                p
                    | As the world's largest computing society, ACM strengthens the profession's collective voice through strong leadership, promotion of the highest standards, and recognition of technical excellence.
                p
                    | ACM supports the professional growth of its members by providing opportunities for life-long learning, career development, and professional networking ACM Student Chapters enable students to fully engage in its professional activities. Participants from more than 500 colleges and universities worldwide enhance their learning through the exchange of ideas with other students and established professionals.
        // /.row
        // Officers
        h2 ACM Officers
        .row
            .col-lg-4.mb-4
                .card.h-100.text-center
                    img.card-img-top(src='http://via.placeholder.com/750x450', alt='')
                    .card-body
                        h4.card-title Team Member
                        h6.card-subtitle.mb-2.text-muted President
                        p.card-text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.
                    .card-footer
                        a(href='#') name@example.com
            .col-lg-4.mb-4
                .card.h-100.text-center
                    img.card-img-top(src='http://via.placeholder.com/750x450', alt='')
                    .card-body
                        h4.card-title Team Member
                        h6.card-subtitle.mb-2.text-muted Vice President
                        p.card-text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.
                    .card-footer
                        a(href='#') name@example.com
            .col-lg-4.mb-4
                .card.h-100.text-center
                    img.card-img-top(src='http://via.placeholder.com/750x450', alt='')
                    .card-body
                        h4.card-title Team Member
                        h6.card-subtitle.mb-2.text-muted Secretary
                        p.card-text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.
                    .card-footer
                        a(href='#') name@example.com
        .row
            .col-lg-4.mb-4
                .card.h-100.text-center
                    img.card-img-top(src='http://via.placeholder.com/750x450', alt='')
                    .card-body
                        h4.card-title Team Member
                        h6.card-subtitle.mb-2.text-muted Treasurer
                        p.card-text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.
                    .card-footer
                        a(href='#') name@example.com
            .col-lg-4.mb-4
                .card.h-100.text-center
                    img.card-img-top(src='http://via.placeholder.com/750x450', alt='')
                    .card-body
                        h4.card-title Team Member
                        h6.card-subtitle.mb-2.text-muted Event Coordinator
                        p.card-text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.
                    .card-footer
                        a(href='#') name@example.com
            .col-lg-4.mb-4
                .card.h-100.text-center
                    img.card-img-top(src='http://via.placeholder.com/750x450', alt='')
                    .card-body
                        h4.card-title Team Member
                        h6.card-subtitle.mb-2.text-muted Recruiters
                        p.card-text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.
                    .card-footer
                        a(href='#') name@example.com
        // /.row
        // Our Members
        h2 Our Members
        .row
            .col-lg-2.col-sm-4.mb-4
                img.img-fluid(src='http://via.placeholder.com/500x300', alt='')
            .col-lg-2.col-sm-4.mb-4
                img.img-fluid(src='http://via.placeholder.com/500x300', alt='')
            .col-lg-2.col-sm-4.mb-4
                img.img-fluid(src='http://via.placeholder.com/500x300', alt='')
            .col-lg-2.col-sm-4.mb-4
                img.img-fluid(src='http://via.placeholder.com/500x300', alt='')
            .col-lg-2.col-sm-4.mb-4
                img.img-fluid(src='http://via.placeholder.com/500x300', alt='')
            .col-lg-2.col-sm-4.mb-4
                img.img-fluid(src='http://via.placeholder.com/500x300', alt='')
        // /.row
    // /.container
