extends layout

block content

    .container
        h1.my-6 Constitution
        //ARTICLE I. - Name
        .row
            .col-lg-12.mb-12
                .card.h-100
                    h4.card-header ARTICLE I. - Name 
                    .card-body
                        p.card-text
                            | The name of the organization shall be Association of Computing Machinery.
                    .card-footer
                        
        
        //ARTICLE II. - Purpose, Objectives, Aims 
        h1.my-6 
        .row
            .col-lg-12.mb-12
                .card.h-100
                    h4.card-header ARTICLE II. - Purpose, Objectives, Aims 
                    .card-body
                        p.card-text
                            | It shall be the purpose of Association of Computing Machinery.
                        p.card-text
                            | 1. The Chapter is organized and will be operated exclusively for educational and scientific purposes to promote the following: 
                        p.card-text
                            | a. An increased knowledge of and greater interest in the science, design, development, construction, languages, management and applications of modern computing.
                        p.card-text
                            | b. Greater interest in computing and its applications.
                        p.card-text
                            | c. A means of communication between persons having an interest in computing.
                        p.card-text
                            | 2. The Chapter will serve students at Valdosta State University and other interested persons in the Valdosta community.
                        p.card-text
                            | 3. The Chapter is chartered by the ACM.

                    .card-footer
                        
        
        //ARTICLE III. - Membership and Eligibility Criteria 
        h1.my-6 
        .row
            .col-lg-12.mb-12
                .card.h-100
                    h4.card-header ARTICLE III. - Membership and Eligibility Criteria 
                    .card-body
                        p.card-text
                            | Section A: Membership is open to any regularly enrolled VSU student who:
                        p.card-text 
                            | Any student at Valdosta State University (CS/CIS major not required).
                        p.card-text
                            | Section B: Dues and collections procedures (if any)
                        p.card-text
                            | The fiscal year of the organization shall be from AUG/Semester start day to (next) AUG/Semester start day (Month/Date).
                        p.card-text
                            | The amount of annual dues shall be determined each year by EC (executive committee). (Determined based on previous year expenditures, and majority vote)
                        p.card-text
                            | Dues shall not exceed $TBD per year. 

                    .card-footer
                        
        
        //ARTICLE IV. - Voting 
        h1.my-6 
        .row
            .col-lg-12.mb-12
                .card.h-100
                    h4.card-header ARTICLE IV. - Voting 
                    .card-body
                        p.card-text
                            | Section A: A quorum will be 5 members. (A quorum is the number or percentage of members that must be present in order for the organization to conduct business.) 
                        p.card-text
                            | Section B: Each member who has paid dues may vote. 
                        p.card-text
                            | Section C: Proxy voting is allowed by the following process: when the individual cannot make it. (Proxy voting is when a member who cannot attend a meeting provides a written authorization to another member to act in his/her behalf, i.e., voting. Not all organizations allow proxy voting.) 

                    .card-footer
                        

        //ARTICLE V. - Officers
        h1.my-6 
        .row
            .col-lg-12.mb-12
                .card.h-100
                    h4.card-header ARTICLE V. - Officers
                    .card-body
                        p.card-text
                            | Section A: The Association of Computing Machinery Shall have a President, Vice President, Secretary and/or Treasurer, Event Coordinator, at least two Recruiters and a Campus Advisor(s) (these titles may vary for your organization). These officers comprise the Executive Committee or Board. The Campus Advisor is a non-voting member of the Executive Board.
                        p.card-text
                            | Section B: All officers must be members of Association of Computing Machinery. 
                        p.card-text
                            | Section C: The term of the officers shall be from at least for the semester in which they were appointed at the max 1 (TBD) year.
                        p.card-text
                            | Section D: Election of officers shall be held annually in August. At least two weeks' notice shall be given before the election meeting. Nominations shall be initiated from the floor and elections done by ballot. The person receiving majority vote will be elected. 
                        p.card-text
                            | Section E: Any officer may be removed from his/her office by two-thirds vote of the Executive Board. Any officer removed may appeal to the general membership. Said officer shall be considered reinstated with two-thirds approval of the members. 
                        p.card-text
                            | Section F: Any vacancy which may occur in an office shall be filled by appointment by the president pending ratification at the next group meeting. 
                    .card-footer
                        
        
        //ARTICLE VI. - Duties of Officers Defined 
        .row
            .col-lg-12.mb-12
                .card.h-100
                    h4.card-header ARTICLE VI. - Duties of Officers Defined 
                    .card-body
                        p.card-text
                            | Section A: The President 
                        p.card-text
                            | 1. The president shall be the chief executive officer. 
                        p.card-text
                            | 2. The president shall appoint all committee chairpersons. 
                        p.card-text
                            | 3. The president, with approval of the executive board, directs the budget. 
                        p.card-text
                            | 4. Vacancies in offices will be filled by appointment of the President with approval of the general membership. 
                        p.card-text
                            | 
                        p.card-text
                            | Section B: The Vice President 
                        p.card-text
                            | 1. The vice president shall be the parliamentarian for the organization. 
                        p.card-text
                            | 2. The vice president shall assume the duties of the president should the office become vacant, or in the absence of the president. 
                        p.card-text
                            | 3. The vice president will keep and have available current copies of the constitution and bylaws. 
                        p.card-text
                            | 4. The vice president will be responsible making sure Event Coordinator is scheduling programs. 
                        p.card-text
                            |    
                        p.card-text
                            | Section C: The Secretary 
                        p.card-text
                            | 1. The secretary shall be responsible for keeping the minutes (in 2 places) of all the general membership meetings and the meetings of the executive board. 
                        p.card-text
                            | 2. The secretary will provide a copy of the minutes for each officer and advisor and keep a master file. The master file will be passed into the keeping of each succeeding secretary. 
                        p.card-text
                            | 3. The secretary shall maintain a complete and accurate account of attendance (blazer link will do this). 
                        p.card-text
                            | 
                        p.card-text
                            | Section D: The Treasurer 
                        p.card-text
                            | 1. The treasurer shall keep a current record of all financial transactions. 
                        p.card-text
                            | 2. The treasurer shall develop quarterly reports containing a list of all receipts and disbursements. 
                        p.card-text
                            | 3. The treasurer will be responsible for checking the accuracy of all the bills and invoices and paying them correctly and on time. 
                        p.card-text
                            | 4. The treasurer will perform other duties as directed by the president. 
                        p.card-text
                            | 
                        p.card-text
                            | Section E: The Event Coordinator
                        p.card-text
                            | 1. Will work with the EAB to plan and schedule events.
                        p.card-text
                            | 2. Post and inform community on social media.
                        p.card-text
                            | 3. ACM website post and use blazer link to create meeting(s). 
                        p.card-text
                            | 
                        p.card-text
                            | Section F: The Recruiters
                        p.card-text
                            | 1. Appointed by the EAB.
                        p.card-text
                            | 2. Preferrably one freshman/sophmore recruiter and one junior/senior.  
                        p.card-text
                            | 3. Must go to all lower level classes (1010, 1301, 1302) and sell ACM to the students.
                        p.card-text
                            | 
                        p.card-text
                            | Section G: The Campus Advisor 
                        p.card-text
                            | 1. The advisor shall assist the group in their execution of roles and responsibilities. 
                        p.card-text
                            | 2. The advisor shall provide feedback to the organization regarding its operations and functions. 
                        p.card-text
                            | 3. The advisor shall serve as a resource. 
                        p.card-text
                            | 4. The advisor should provide advice upon request and also should share knowledge, expertise, and experiences with the group. 
                        p.card-text
                            | 5. The advisor will be a nonvoting member of the organization and the executive board.
                        p.card-text
                            | 
                        p.card-text
                            | Section H: The duties of the standing committees shall include: (provide details of responsibilities) respective to the committee (These are committees that are permanent. The President may create other committees as well - ones that are needed for a specific purpose or finite length of time.) 

                    .card-footer
                        

        //ARTICLE VII. - Notice of Meetings 
        h1.my-6 
        .row
            .col-lg-12.mb-12
                .card.h-100
                    h4.card-header ARTICLE VII. - Notice of Meetings 
                    .card-body
                        p.card-text
                            | Section A: The times for regularly scheduled meetings shall be: Decided by EAB and based on suggestions of the organization members. 
                        p.card-text
                            | Section B: At least 2-3 days' notice shall be given for each regular business meeting. 
                        p.card-text
                            | Section C: The meetings shall include quorum, order of business, and disposition of the minutes. 

                    .card-footer
        //ARTICLE VIII. - Changes to the Constitution 
        h1.my-6 
        .row
            .col-lg-12.mb-12
                .card.h-100
                    h4.card-header ARTICLE VIII. - Changes to the Constitution 
                    .card-body
                        p.card-text
                            | This Constitution may be changed by a two-thirds majority vote. 
                    .card-footer
        //ARTICLE IX. - Parliamentary Procedures 
        h1.my-6 
        .row
            .col-lg-12.mb-12
                .card.h-100
                    h4.card-header ARTICLE IX. - Parliamentary Procedures 
                    .card-body
                        p.card-text
                            | Section A:  The rules may be suspended by two-thirds vote of the present membership. 
                    .card-footer
                        
        
        