extends layout

block content

    .container
        h1.my-6 Guides - In Progess
        h2 Resource Websites:
        .row
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='http://www.stackoverflow.com/' target="_blank" rel="noopener")
                        img.card-img-top(src='/img/so-logo7X4.png', alt='stack-overflow-logo')
                    .card-body
                        h4.card-title
                            a(href='http://www.stackoverflow.com/' target="_blank" rel="noopener") Stack Overflow
                        p.card-text
                            | When you are stuck on a coding concept, this is a great website to visit. Someone out there has experienced the same issue as you and will have provided a solution to the concept. Do not simply copy the answer down, this will not help you learn what is going on. Understand why the solution works and how it fits in relation to your problem. By taking these steps, you will have advanced yourself by understanding how to approach this problem in the future. If you leave concepts without fully grasping them, you will leave gaps in your knowledge. This will show in future; during job interviews and on tests. What happens when the professor asks how “your” code works?
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='#')
                        img.card-img-top(src='/img/library.png', alt='')
                    .card-body
                        h4.card-title
                            a(href='#') Library Websites
                        p.card-text
                            | Check out the code that you are using on its library website. You may or may not have the basic understanding of the code you are using. If you don’t this is a great starting point to understanding what you are trying to use and if you do there is always a bit more to be learned here. When you have a better understanding of the tools you trying to use, the better your proficiency of the language you are using will be. These websites are great starting points when learning a new part of any computer language. Check out some of the links below:
                            ul
                                li
                                    a(href="https://docs.oracle.com/javase/7/docs/api/allclasses-noframe.html" target="_blank" rel="noopener") Java Platform SE 7 - All Classes
                                li
                                    a(href="https://docs.oracle.com/javase/8/docs/api/allclasses-noframe.html" target="_blank" rel="noopener") Java Platform SE 8 - All Classes
                                li
                                    a(href="https://www.gnu.org/software/gnu-c-manual/gnu-c-manual.html " target="_blank" rel="noopener") C
                                li
                                    a(href="https://docs.python.org/3/library/index.html" target="_blank" rel="noopener") Python
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='https://www.reddit.com/r/dailyprogrammer/' target="_blank" rel="noopener")
                        img.card-img-top(src='/img/reddit.png', alt='')
                    .card-body
                        h4.card-title
                            a(href='https://www.reddit.com/r/dailyprogrammer/' target="_blank" rel="noopener") Daily Reddit Programmer 
                        p.card-text
                            | This is a great place to go for random challenges. There are new problems posted almost daily. You will see others posting their answers, so if you get stuck or would like to see how someone else approached the problem you will be able to do so. Overall this will help you become a better problem solver and give you practice outside of class.
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='https://github.com/' target="_blank" rel="noopener")
                        img.card-img-top(src='/img/git.png', alt='')
                    .card-body
                        h4.card-title
                            a(href='https://github.com/' target="_blank" rel="noopener") Github 
                        p.card-text
                            | This a great way to share your code online and see what other programmers are working on. If you find an open source project that is looking for help, that strikes your interest, you can always contact them and ask to be a contributor to that repository. This will help build your resume, give you practice, and add to your portfolio. Portfolios are the biggest reason to use this resource. One day you will need to be able to show off your work. Storing it here over time will make that much easier. Also since you are storing your code in one place, it makes it easier to access your code at any computer with git installed. Check out this 
                            a(href="https://help.github.com/desktop-classic/guides/getting-started/installing-github-desktop/" target="_blank" rel="noopener") link for installation instructions. 
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='https://stackexchange.com/sites' target="_blank" rel="noopener")
                        img.card-img-top(src='/img/stacke.png', alt='')
                    .card-body
                        h4.card-title
                            a(href='https://stackexchange.com/sites' target="_blank" rel="noopener") Stack Exchange 
                        p.card-text
                            | This is the parent site for StackOverflow. It is worth mentioning because, you can visit this website to find groups that focus on more specific data that is tailored to very specific interests. One such example is AskUbuntu. It can be found on the landing page. Overall it is a great place to go looking for help.
        h2 Practice Websites:
        .row
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='http://www.codingbat.com/java' target="_blank" rel="noopener")
                        img.card-img-top(src='http://via.placeholder.com/700x400', alt='stack-overflow-logo')
                    .card-body
                        h4.card-title
                            a(href='http://www.codingbat.com/java' target="_blank" rel="noopener") Coding Bat
                        p.card-text
                            | A coding website to practice your skills in Java or Python. This is useful to test your knowledge in Java/Python and it even has an option for code efficiency. 
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='https://codefights.com/' target="_blank" rel="noopener")
                        img.card-img-top(src='http://via.placeholder.com/700x400', alt='stack-overflow-logo')
                    .card-body
                        h4.card-title
                            a(href='https://codefights.com/' target="_blank" rel="noopener") Coding Fights
                        p.card-text
                            | A great resource to test yourself on how well you know a language and how well you know how to program. Supports many different languages. 
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='https://www.topcoder.com/' target="_blank" rel="noopener")
                        img.card-img-top(src='http://via.placeholder.com/700x400', alt='stack-overflow-logo')
                    .card-body
                        h4.card-title
                            a(href='https://www.topcoder.com/' target="_blank" rel="noopener") Top Coder
                        p.card-text
                            | This is a place to visit and practice your code in C++, C#, Java, Visual Basic.NET and Python. There are coding competitions posted regularly where you can complete with other users.  You can practice problems when waiting for a new event to start. There are close to 400 pages of practice problems to work on. You are scored on the amount of time it takes to complete the code and the efficiency of the solution. Your time and memory allotted will depend on the complexity of the problem. Overall it’s a great place to practice writing code quickly and efficiently.
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='http://ww.udemy.com/' target="_blank" rel="noopener")
                        img.card-img-top(src='http://via.placeholder.com/700x400', alt='stack-overflow-logo')
                    .card-body
                        h4.card-title
                            a(href='http://ww.udemy.com/' target="_blank" rel="noopener") Udemy
                        p.card-text
                            | This is a website with a large database of tutorials and classes. Use this resource to learn a new language or to brush up on old skills. It can be a great place to brainstorm and look for new ideas/projects. There are free and paid courses. It might be best to wait for courses to go on sale before you make a purchase as it will save you roughly 95% of the cost.

        h2 University Resources:
        .row
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='#' target="_blank" rel="noopener")
                        img.card-img-top(src='http://via.placeholder.com/700x400', alt='stack-overflow-logo')
                    .card-body
                        h4.card-title
                            a(href='#' target="_blank" rel="noopener") Tutoring – NH 2060
                        p.card-text
                            | Visit this on campus resource to explore any holes in concepts that you are covering in class. It is free and available Monday-Thursday 12:00pm - 7:00pm and Friday 10:00am - 12:00pm. The best part of coming here is that the tutors are students that have already been through the material. They are very knowledgeable and are hand selected by the professors. This is a great tool and can be used in conjunction with your professor’s office hours to provide extra learning resources. 
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='#')
                        img.card-img-top(src='http://via.placeholder.com/700x400', alt='stack-overflow-logo')
                    .card-body
                        h4.card-title
                            a(href='#') Lab locations - NH 2111, NH 2115 
                        p.card-text
                            | Forgot your computer? Battery dead? Library full? Got 30 minutes before class? This is a great place to code when you need a computer. It is even better when your code is saved to your Github profile. Git is installed on the lab machines and your code can be quickly pulled down so you can get some work in. Don’t forget after you are done to push your changes back out. In NH 2111 there is an on staff assistant that can help with any issues should they arise and a printer to print off any homework assignments. NH 2115, often has classes, but when there isn’t a class in session you can use this resource should NH 2111 become full. It is worth mentioning that food and drinks are not allowed in the lab locations. 