extends layout

block content
    header
        #carouselExampleIndicators.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
                li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                li(data-target='#carouselExampleIndicators', data-slide-to='1')
                li(data-target='#carouselExampleIndicators', data-slide-to='2')
            .carousel-inner(role='listbox')
                // Slide One - Set the background image for this slide in the line below
                .carousel-item.active(style="background-image: url('/img/carousel1.jpeg')")
                    .carousel-caption.d-none.d-md-block
                        //h3 First Slide
                        //p This is a description for the first slide.
                // Slide Two - Set the background image for this slide in the line below
                .carousel-item(style="background-image: url('/img/carousel2.jpeg')")
                    .carousel-caption.d-none.d-md-block
                        //h3 Second Slide
                        //p This is a description for the second slide.
                // Slide Three - Set the background image for this slide in the line below
                .carousel-item(style="background-image: url('/img/carousel3.jpeg')")
                    .carousel-caption.d-none.d-md-block
                        //h3 Third Slide
                        //p This is a description for the third slide.
            a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next
    // Page Content
    .container
        h1.my-6 Welcome to Association for Computing Machinery - Valdosta State University
        // Marketing Icons Section
        .row
            .col-lg-12.mb-12
                .card.h-100
                    h4.card-header Mission
                    .card-body
                        p.card-text
                            | ACM brings together computing educators, researchers, and professionals to inspire dialogue, share resources, and address the field's challenges. As the world's largest computing society, ACM strengthens the profession's collective voice through strong leadership, promotion of the highest standards, and recognition of technical excellence. ACM supports the professional growth of its members by providing opportunities for life-long learning, career development, and professional networking ACM Student Chapters enable students to fully engage in its professional activities. Participants from more than 500 colleges and universities worldwide enhance their learning through the exchange of ideas with other students and established professionals.
                    .card-footer
                        a.btn.btn-primary(href='/abouts/about') About Us
            //- .col-lg-4.mb-4
            //-     .card.h-100
            //-         h4.card-header Card Title
            //-         .card-body
            //-             p.card-text
            //-                 | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.
            //-         .card-footer
            //-             a.btn.btn-primary(href='#') Learn More
            //- .col-lg-4.mb-4
            //-     .card.h-100
            //-         h4.card-header Card Title
            //-         .card-body
            //-             p.card-text
            //-                 | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
            //-         .card-footer
            //-             a.btn.btn-primary(href='#') Learn More
        // /.row
        // Portfolio Section
        h2 Our Events
        .row
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='#')
                        img.card-img-top(src='/img/picnic.png', alt='')
                    .card-body
                        h4.card-title
                            a(href='#') Profession Development Workshop
                        p.card-text
                            | We are proud to announce that we have an ongoing workshop with a representative that works at Microsoft! From learning what is happening in the industry right now to finding a job. This is the place to be!
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='#')
                        img.card-img-top(src='/img/icpc.png', alt='')
                    .card-body
                        h4.card-title
                            a(href='#') ICPC 
                        p.card-text
                            | Each fall we compete in ICPC or the International Collegiate Programming Contest. This is a great place to get recognized by companies, compete with other schools, and show off what you can do!
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='#')
                        img.card-img-top(src='/img/hackathon.png', alt='')
                    .card-body
                        h4.card-title
                            a(href='#') Azalea Hackathon
                        p.card-text
                            | In the Spring Azalea Health hosts thier annual hackathon. It is a programming competition where you and other students can collaboratively develop innovative ideas, software applications, and show off your skills. Did we mention cash prizes?
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='#')
                        img.card-img-top(src='/img/picnicCurrent.png', alt='')
                    .card-body
                        h4.card-title
                            a(href='#') Annual Picnic
                        p.card-text
                            | Mid spring each year we host an annual picnic where professors and students alike get together and mingle. We grill some food, play sports, and take the time to meet other people in the department we might not cross paths with. 
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='#')
                        img.card-img-top(src='/img/game.png', alt='')
                    .card-body
                        h4.card-title
                            a(href='#') Game Night
                        p.card-text
                            | Enjoy gaming? So do we! Each semester we host a game night were we get together and have fun. We generally have pizza, board games, card games, and consoles. All in an effort to blow off some steam after a long semester!
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='#')
                        img.card-img-top(src='/img/guestph.png', alt='')
                    .card-body
                        h4.card-title
                            a(href='#') Guest Speakers
                        p.card-text
                            | Throughout the semester we will have guest speakers. Most are Alumni or their colleagues. If you didn't know we have Alumni from Amazon, Microsoft, and Google! You never know who will show up.
        // /.row
        // Features Section
        .row
            .col-lg-6
                h2 VSU - ACM Meetings
                p Our Meetings Include Coverage On:
                ul
                    li Github
                    li New Languages
                    li Programming Concepts
                    li Resumes and Mock Interviews
                    li Current Events
                p
                    | This is a highlighted list and other topics are also covered. There is so much going on that not everything can be listed here. We also run a survey at the beginning of each semester to determine what are the best topics to cover. We try to be as flexible as possible.
            .col-lg-6
                img.img-fluid.rounded(src='img/groupold.png', alt='')
        // /.row
        hr
        // Call to Action Section
        .row.mb-4
            .col-md-8
                p
                    | Hopefully something here has inspired you to join or support us. You can find out more on our about page or contact us now to join. Hope to see you soon!
            .col-md-4
                a.btn.btn-lg.btn-secondary.btn-block(href='#') Contact Us
    // /.container
