extends layout

block content

    .container
        h1.my-6 Links - In Progess
        // Marketing Icons Section
        .row
            .col-lg-12.mb-12
                .card.h-100
                    h4.card-header ACM VSU Mission
                    .card-body
                        p.card-text
                            | ACM brings together computing educators, researchers, and professionals to inspire dialogue, share resources, and address the field's challenges. As the world's largest computing society, ACM strengthens the profession's collective voice through strong leadership, promotion of the highest standards, and recognition of technical excellence. ACM supports the professional growth of its members by providing opportunities for life-long learning, career development, and professional networking ACM Student Chapters enable students to fully engage in its professional activities. Participants from more than 500 colleges and universities worldwide enhance their learning through the exchange of ideas with other students and established professionals.
                    .card-footer
                        a.btn.btn-primary(href='/abouts/mission') Mission Statement
        h2 ACM VSU Achievements
        .row
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='#')
                        img.card-img-top(src='http://via.placeholder.com/700x400', alt='')
                    .card-body
                        h4.card-title
                            a(href='#') Achievement One
                        p.card-text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='#')
                        img.card-img-top(src='http://via.placeholder.com/700x400', alt='')
                    .card-body
                        h4.card-title
                            a(href='#') Achievement Two
                        p.card-text
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='#')
                        img.card-img-top(src='http://via.placeholder.com/700x400', alt='')
                    .card-body
                        h4.card-title
                            a(href='#') Achievement Three
                        p.card-text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='#')
                        img.card-img-top(src='http://via.placeholder.com/700x400', alt='')
                    .card-body
                        h4.card-title
                            a(href='#') Achievement Four
                        p.card-text
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='#')
                        img.card-img-top(src='http://via.placeholder.com/700x400', alt='')
                    .card-body
                        h4.card-title
                            a(href='#') Achievement Five
                        p.card-text
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='#')
                        img.card-img-top(src='http://via.placeholder.com/700x400', alt='')
                    .card-body
                        h4.card-title
                            a(href='#') Achievement Six
                        p.card-text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.
        // /.row
        // Features Section
        .row
            .col-lg-6
                h2 Modern Business Features
                p The Modern Business template by Start Bootstrap includes:
                ul
                    li
                        strong Bootstrap v4
                    li jQuery
                    li Font Awesome
                    li Working contact form with validation
                    li Unstyled page elements for easy customization
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.
            .col-lg-6
                img.img-fluid.rounded(src='http://via.placeholder.com/700x450', alt='')
        // /.row
        hr
        // Call to Action Section
        .row.mb-4
            .col-md-8
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.
            .col-md-4
                a.btn.btn-lg.btn-secondary.btn-block(href='#') Call to Action
    // /.container