extends layout

block content

    .container
        h1.my-6 Podcasts 
        .row
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='https://syntax.fm/' target="_blank" rel="noopener")
                        img.card-img-top(src='http://via.placeholder.com/700x400', alt='')
                    .card-body
                        h4.card-title
                            a(href='https://syntax.fm/' target="_blank" rel="noopener") Syntax.FM
                        p.card-text
                            | This is a podcast is by two JavaScript Developers and for Web Developers. It includes podcasts such as Freelancing tips, NodeJS knowlege, front-end and back-end JS library frameworks and many other 'tasy treats'.
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='http://www.defensivesecurity.org/feed/podcast/' target="_blank" rel="noopener")
                        img.card-img-top(src='http://via.placeholder.com/700x400', alt='')
                    .card-body
                        h4.card-title
                            a(href='http://www.defensivesecurity.org/feed/podcast/' target="_blank" rel="noopener") Defensive Security
                        p.card-text
                            | The Defensive Security podcast is an attempt to look at recent security news and pick out lessons we can apply to the organizations we are charged with keeping secure. This podcast is hosted by Jerry Bell (@maliciouslink) and Andrew Kalat (@lerg). This podcast and web site are not affiliated with the employers of Mr Bell or Mr Kalat.
            //- .col-lg-4.col-sm-6.portfolio-item
            //-     .card.h-100
            //-         a(href='#' target="_blank" rel="noopener")
            //-             img.card-img-top(src='http://via.placeholder.com/700x400', alt='')
            //-         .card-body
            //-             h4.card-title
            //-                 a(href='#' target="_blank" rel="noopener") Achievement One
            //-             p.card-text
            //-                 | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!
            