extends layout

block content

    .container
        h1.my-6 Videos 
        .row
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='https://www.youtube.com/user/thenewboston' target="_blank" rel="noopener")
                        img.card-img-top(src='http://via.placeholder.com/700x400', alt='')
                    .card-body
                        h4.card-title
                            a(href='https://www.youtube.com/user/thenewboston' target="_blank" rel="noopener") The New Boston
                        p.card-text
                            | This channel has coding tutorials for many languages that are very simple and easy to follow. Each language is broken into its own series. Each series is broken into singular concepts and builds on the previous concepts learned from earlier videos in the series. This makes each series self-contained, as if you have never programed before. The tutorials are paced in such a way that anyone can learn to code and is great for any skill level. 
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='https://www.youtube.com/user/khanacademy' target="_blank" rel="noopener")
                        img.card-img-top(src='http://via.placeholder.com/700x400', alt='')
                    .card-body
                        h4.card-title
                            a(href='https://www.youtube.com/user/khanacademy' target="_blank" rel="noopener") Khan Academy 
                        p.card-text
                            | This channel has a large library of math concepts. This is a great place to visit to brush up on your math skills. This is especially helpful when you begin higher level math courses. Take the time to watch the videos, learn the concepts, and it will make those upper level math courses much easier.
            .col-lg-4.col-sm-6.portfolio-item
                .card.h-100
                    a(href='https://www.youtube.com/channel/UC29ju8bIPH5as8OGnQzwJyA' target="_blank" rel="noopener")
                        img.card-img-top(src='http://via.placeholder.com/700x400', alt='')
                    .card-body
                        h4.card-title
                            a(href='https://www.youtube.com/channel/UC29ju8bIPH5as8OGnQzwJyA' target="_blank" rel="noopener") Traversy Media
                        p.card-text
                            | Traversy Media offers full courses and web development tutorials using all of the latest technologies. We focus on full stack web development using languages like HTML/CSS, JavaScript, PHP, Ruby on Rails and more.
            //- .col-lg-4.col-sm-6.portfolio-item
            //-     .card.h-100
            //-         a(href='#')
            //-             img.card-img-top(src='http://via.placeholder.com/700x400', alt='')
            //-         .card-body
            //-             h4.card-title
            //-                 a(href='#') Achievement Four
            //-             p.card-text
            //-                 | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
            //- .col-lg-4.col-sm-6.portfolio-item
            //-     .card.h-100
            //-         a(href='#')
            //-             img.card-img-top(src='http://via.placeholder.com/700x400', alt='')
            //-         .card-body
            //-             h4.card-title
            //-                 a(href='#') Achievement Five
            //-             p.card-text
            //-                 | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
            //- .col-lg-4.col-sm-6.portfolio-item
            //-     .card.h-100
            //-         a(href='#')
            //-             img.card-img-top(src='http://via.placeholder.com/700x400', alt='')
            //-         .card-body
            //-             h4.card-title
            //-                 a(href='#') Achievement Six
            //-             p.card-text
            //-                 | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.